{% extends 'base.html' %}
{% block content %}


<div>
  <div class="jumbotron">
    <div class="container for-about">
      
    </div>
  </div>
  <h1>About</h1>
  <h6 class='text-justify'>

    Before Hackbright, Margarita was a Special Education teacher in her home country of the Philippines.  Working with autistic and physically disabled children, she showed creativity and  dedication through her development of individualized programs for each student. After moving to the tech-centric Bay Area, she developed a curiosity for programming, which ultimately led to her fellowship with Hackbright Academy. 
    <br>
    <br>
    Margarita is passionate about solving problems and learning, and is excited to apply her software engineering skills and experience to create solutions that add value to people’s lives. When Margarita is not busy coding, she is typically found cuddling her Maltese puppy named Cotton or scheming during a game of Settlers of Catan.

  </h6>

</div>

{% endblock %}